<div class="side_bar_top">
  <div class="user_name">
    <a href="#"> ユーザー名 </a>
  </div>
  <div class="new_chat">
    <a href="#"> チャットを作成する </a>
  </div>
</div>
<div class="side_bar_main">
  <div class="room">
    <div class="room_name">
      <a href="#">チャットルーム１</a>
    </div>
  </div>
  <div class="room">
    <div class="room_name">
      <a href="#">チャットルーム２</a>
    </div>
  </div>
</div>